<ion-content [fullscreen]="true" style="padding: 0; position: relative;">

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/action-sheet" >Action sheet</ion-button>
    
    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-alert" >ion-alert</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-badge" >ion-badge</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-button" >ion-button</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-card" >ion-card</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-checkbox" >ion-checkbox</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-chip" >ion-chip</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-datetime" >ion-datetime</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-fab" >ion-fab</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-icon" >ion-icon</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-input" >ion-input</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/grid" >ion-grid</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-infine-scroll" >ion-infinite-scroll</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-item" >ion-item</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-list" >ion-list</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-menu" >ion-menu</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-modal" >ion-modal</ion-button>
    
    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-popover" >ion-popover</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-progress-bar" >ion-progress-bar</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-searchbar" >ion-searchbar</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-segment" >ion-segment</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-select" >ion-select</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-tabs" >ion-tabs</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-toast" >ion-toast</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-toggle" >ion-toggle</ion-button>

    <ion-button class="boton-personalizado-2" expand="block" routerLink="/ion-toolbar" >ion-toolbar</ion-button>

    


  </ion-content>